/*
				___ COMMON RULES (mobile first)___
*/
/*					--- Fonts ---
*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
/*
					--- Elements ---
*/
html, body, [ng-view] {
	height: 100%;
}
html {
	font-size: 14px;
}
body {
	font-family: 'Rajdhani', sans-serif;
    color: #ddd;
    background-color: #333;
}
strong {
	font-weight: bolder;
}
.header-block {
	padding: 10px 0;
}
.header-title {
	font-size: 2rem;
	padding: 6px 0;
	padding-left: 5%; 
}
.prime-text {
	margin: 6px auto;
	padding-left: 3%;
	padding-right: 3%;
}
/*					--- Layout ---
*/
.flex-v-centr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.top-safe {
	padding-top: 50px;
}
.bottom-safe {
	margin-bottom: 45px;
}
.full-height {
	height: 100%;
}
.safe-form {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.safe-read {
	width: 90%;
	max-width: 900px;
}
/*					--- Navigation ---
*/
/*					--- Submenus ---
*/
.submenu {
	position: fixed;
	top: 51px;
	width: 100%;
	background-color: rgba(0,0,0,0.65);
	z-index: 1;
}
	.submenu ul {
		max-width: 900px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
		.submenu li {
			padding: 8px;
			flex-grow: 1;
		}
		.submenu li:hover {
			background-color: #bbb;
			cursor: pointer;
			color: #000;
		}
			.submenu li a {
				text-decoration: none;
				color: #ddd;
				padding: unset;
			}
			.submenu li:hover a {
				color: #000;
			}
			.submenu .active a {
				color: #000;
			}
			.nav li a:hover,
			.nav li a:focus {
				background-color: unset;
			}
/*					--- ---
*/
.anchor {
	padding-top: 90px;
	padding-bottom: 10px;
}
.active {
	color: #000;
	background-color: rgba(224,224,224,0.6);
}
/*				___ Graphics ___
*/
.bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
/*				___ Bootstrap Custom ___
*/
/*					--- Nav Bar ---
*/
.navbar-logo {
	padding: 5px 40px;
}
/*					--- Modals ---
*/
.mod-full-width {
	margin: 0 auto;
	width: 100%;
}
	.btn-shadow {
		z-index: 1;
		box-shadow: 0 0 10px #222, inset 0 0 5px #555;
	}
	.no-border {
		border: none;
	}
	/* remove modal's body padding */
	.mod-body {
		padding: 0;
	}
/* Darken background on modal drop */
.modal-backdrop.in {
	opacity: 0.9;
}
/*					--- BS buttons ---
*/
.bs-btn {
	padding: 3px 9px;
	background-color: transparent;
	color: #fff;
}
/*
				=====================
						INDEX
				=====================
*/
/*					--- Navigation ---
*/
.nav-menu {
	text-align: center;
	font-size: 1.3rem;
	padding: 0;
}
	.nav-menu ul {
		margin: 0;
	}
		.nav-menu li {
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px;
			border-bottom: 1px;
			border-style: solid;
			border-color: transparent;
		}
		.nav-menu .nav-activ {
			border-color: #999;
			background-color: rgba(128,128,128,0.2);
		}
/*					--- Footer ---
*/
.social-links {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2px 0;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
}
	.social-icon {
		width: 22px;
		height: 22px;
		padding: 2px;
		margin: 5px 10px;
		border: 1px solid #fff;
		border-radius: 0%;
		transition: border-radius 0.3s;
	}
	.social-icon:hover {
		border-radius: 50%;
	}
/*
				=====================
					HOME TEMPLATE
				=====================
*/
.home-landing {
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url('../assets/bg.jpg');
}
	.landing-header {
		width: 100%;
	    flex: 0 0 35%;
	}
		.landing-header .logo {
			padding: 15px;
			border: 1px solid #fff;
			border-width: 1px 0 1px 0;
			box-shadow: 0 0 15px 10px #808080;
			box-shadow: 0 0 15px 10px rgba(0,0,0,0.7);
			background-color: rgba(0, 0, 0, 0.5);
		}
		.landing-header img {
			min-width: 280px;
			width: 50%;
			max-width: 450px;
		}
		.landing-subTitle {
			font-size: 1.1rem;
			letter-spacing: 1px;
			margin-top: 30px;
			word-spacing: 2px;
		}
	.demo-reel {
		width: 50px;
		padding: 20px;
		margin-top: 3%;
		border: 1px solid white;
		border-width: 1px 0;
	}
		.demo-reel span {
			cursor: pointer;
		}
/*					--- Reel viewer ---
*/
.reel-header {
	width: 100%;
	position: absolute;
	top: 0;
	opacity: 0.2;
	transition: opacity 300ms;
}
.demo-viewer-content:hover .reel-header {
	opacity: 1;
}
	.reel-header > button {
		z-index: 1;
		float: right;
	}
/*
				======================
					ABOUT TEMPLATE
				======================
*/
.team-book {
	padding-bottom: 60px;
	width: 100%;
}
	.team-book li {
		padding: 10px;
		margin: 20px auto 0;
		background: rgb(80,80,80);
	}
		.team-book img {
			width: 100%;
			height: auto;
			padding: 10px;
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		.membr-name {
			font-size: 2rem;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 5%;
			margin-right: 5%;
			margin-left: 5%;
			border-bottom: 1px;
			border-color: #eee;
			border-style: solid;
		}
		.membr-title,
		.membr-desc {
			width: 90%;
			margin: 5px auto 10px;
		}
		.membr-title {
			font-size: 1.1rem;
			padding-left: 10%;
		}
/*
				=====================
					WORK TEMPLATE
				=====================
*/
/*					--- Gallery ---
*/
.thumb {
	position: relative;
	overflow: hidden;
	max-width: 540px;
	margin-right: auto;
	margin-left: auto;
}
	.thumb img {
		width: 100%;
		display: block;
	}
	.thumb figcaption {
		position: absolute;
		display: block;
		width: 100%;
		padding: 10px 0;
		bottom: 0;
		text-align: center;
		color: #fff;
		font-size: 0.9rem;
		letter-spacing: 1px;
		line-height: 1.1rem;
		background-color: rgba(0,0,0,0.65);
		border-width: 1px 0 1px 0;
		border-style: solid;
		border-color: rgba(255,255,255,0.5);
	}
		.thumb a {
			text-decoration: none;
			color: #fff;
			font-size: 1.1rem;
		}
/*					--- Modal Viewer ---
*/
.z-right {
	z-index: 1;
	position: absolute;
	right: 0;
}
.full-img {
	width: 100%;
	padding: 0;
}
/*					--- Footer ---
*/
.copyright {
	position: relative;
	font-size: 0.8rem;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 60px; 
}
/*
				========================
					CONTACT TEMPLATE
				========================
*/
/*					--- Address ---
*/
.darken-bg {
	padding: 15px;
	background-color: rgba(0,0,0,0.3);
}
.details h2,
.query h2 {
	font-size: 1.5rem;
	padding: 5px 0;
	margin: 4px 0;
	margin-left: 6%;
}
.loc-details {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
	.details {
		width: 100%;
		padding-left: 10%;
	}
	.map-details {
		flex-basis: 75%;
	}
		.g-map {
			/* safe guard width for mobile devices*/
			display: block;
			width: 90%;
			height: 250px;
			margin: 15px auto;
		}
/*					--- Query Form ---
*/
.ctc-form button {
	display: block;
	margin: 10px auto;
}
.query-field {
	width: 95%;
	margin-left: auto;
}
.query-field textarea {
	min-height: 80px;
}
.query-field::placeholder {
	font-style: italic;
}
.sub-field {
	position: relative;
	left: 5%;
	color: #d7d7d7;
}
.ctc-form .form.control {
	font-size: 1.2rem;
}
form label {
	display: block;
	padding-bottom: 8px;
	font-size: 1.2rem;
}
.query {
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.8);
}
/*
				*******************************
					TABLETS / DESKTOP RULES 		>= 768
				*******************************
*/

@media screen and (min-width: 768px) {
/*
				=====================
						INDEX
				=====================
*/
/*					--- Navigation ---
*/
	.navbar-header {
		margin-left: 10%;
	}
	.nav-menu ul {
		width: 20%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-right: 10%;
	}
		.nav-menu li {
			padding-top: 0;
			padding-bottom: 0;
		}
/*
				======================
					ABOUT TEMPLATE
				======================
*/
/*					--- Team ---
*/
	.anchor {
		padding-bottom: 30px;
	}
	.team-book {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-left: auto;
		margin-right: auto;
	}
		.team-book li {
			margin: 10px 5px;
			align-self: stretch;
			max-width: 280px;
		}
/*
				=====================
					WORK TEMPLATE
				=====================
*/
	.gallery {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
}
		.thumb img {
			max-width: 360px;
		}
/*
				========================
					CONTACT TEMPLATE
				========================
*/
	.bg-contact {
		background-image: url('../assets/office/mars_office.jpg');
		padding-bottom: 5px;
	}
/*					--- Address ---
*/
	.loc-details {
		flex-direction: row;
	}
		.details {
			padding-left: 3%;
			flex-basis: 25%;
			align-self: center;
			min-width: 200px;
		}
		.g-map {
			flex-basis: 75%;
			height: 330px;
		}
}
/*
				*****************************	
						DESKTOP RULES 				>= 992 px
				*****************************
*/
@media screen and (min-width: 992px) {
/*
				======================
					ABOUT TEMPLATE
				======================
*/
	.team-book {
		max-width: 1240px;
	}
/*
				=====================
					WORK TEMPLATE
				=====================
*/
/*					--- thumbs CSS Animation ---
*/
	.thumb figcaption {
		bottom: -70px;
		opacity: 0;
		transition: all 250ms ease-in-out;
	}
		.thumb figcaption a {
			opacity: 0;
			transition: all 250ms 250ms;
		}
		.thumb figcaption span {
			opacity: 0;
			transition: all 300ms 300ms;
		}
	figure.thumb:hover figcaption {
		bottom: 0;
		opacity: 1;
	}
	figure.thumb:hover img {
		filter: saturate(0.6) brightness(0.8) contrast(0.8) blur(2px);
		transition: 350ms ease-in-out;
	}
		figure.thumb:hover a,
		figure.thumb:hover span {
			opacity: 1;
		}
}
