/*
				___ COMMON RULES (mobile first)___
*/
/*					--- Elements ---
*/

html, body, [ng-view] {
	height: 100%;
}

html {
	font-size: 14px;
}
body {
	font-family: 'Rajdhani', sans-serif;
    color: #ddd;
    background-color: #333;
}
h1 {
	font-size: 3.6rem;
}
h5 {
	font-size: 1.1rem;
	margin: 4px 0;
}
p{
	width: 80%;
	margin: 6px auto;
}
strong{
	font-weight: bolder;
}

header {
	position: relative;
	padding: 10px 0;
}
footer {
	width: 100%;
	text-align: center;
	padding: 2px 0px;
	background-color: rgba(0,0,0,0.3);
}

/*					--- Submenus ---
*/
.submenu {
	position: fixed;
	top: 51px;
	width: 100%;
	background-color: rgba(0,0,0,0.65);
}
	.submenu ul {
		max-width: 900px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
		.submenu li {
			padding: 8px;
			flex-grow: 1;
		}
		.submenu li:hover {
			background-color: #bbb;
		}
			.submenu li:hover a {
				color: #000;
			}
			.submenu li a {
				text-decoration: none;
				color: #ddd;
				padding: unset;
			}
			.submenu li.active a {
				color: #000;
			}
			.nav li a:hover,
			.nav li a:focus {
				background-color: unset;
			}
.anchor {
	padding-top: 80px;
}
.active {
	color: #000;
	background-color: rgba(224,224,224,0.6);
}
/*				___ COLOR PANEL ___
*/

/*				___ Bootstrap Custom ___
*/
/*					--- Modals ---
*/
.modal {
	padding: 0px;
	margin: 0px;
}
	.modal-dialog {
		width: 100%;
		margin: 0px;
		vertical-align: middle;
	}
.modal-backdrop.in {
	opacity: 0.8;
}

/*					--- BS buttons ---
*/
.btn {
	padding: 3px 9px;
	background-color: transparent;
	color: #fff;
}


/*
				===== INDEX =====
*/
/*					--- Navigation ---
*/
#navMenu {
	text-align: center;
	font-size: 1.3rem;
	padding: 0px;
}
	#navMenu ul {
		margin: 0px;
	}
		#navMenu li {
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px;
			border-bottom: 1px;
			border-style: solid;
			border-color: transparent;
		}
		#navMenu .nav-activ {
			border-color: #999;
			background-color: rgba(128,128,128,0.2);
		}
/*					--- Footer ---
*/
#social-links {
	position: fixed;
	bottom: 0px;
}
	.social-icon {
		display: inline-block;
		position: relative;
		width: 22px;
		height: 22px;
		padding: 2px;
		margin: 5px 10px;
		border: 1px solid #fff;
		transition: border-radius 0.3s;
	}
	.social-icon:hover {
		border-radius: 50%;
	}

/*
				===== HOME TEMPLATE =====
*/
#landing {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: flex-end;
}
	#studioFx {
		width: 100%;
	    flex: 0 0 35%;
	}
		#studioFx h1 {
			padding: 20px;
			border: 1px solid #fff;
			border-width: 1px 0px 1px 0px;
			box-shadow: 0 0 40px rgba(0,0,0,0.5);
		}
		#studioFx h5 {
			letter-spacing: 1px;
			word-spacing: 2px;
			margin-top: 5%;
		}
	#reel {
		width: 50px;
		padding: 20px;
		align-self: center;
		border: 1px solid white;
		border-width: 1px 0;
	}
		#reel span {
			cursor: pointer;
		}
/*				--- Reel viewer ---
*/
#viewer {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
	#viewer button {
		z-index: 1;
		position: absolute;
		right: 0;
	}

/*
				===== ABOUT TEMPLATE =====
*/
#aboutMain h1 {
	font-size: 2rem;
	padding: 6px 0;
	margin-left: 5%; 
}
#aboutTeam {
	padding-bottom: 40px;
}
#teamBook li {
	min-width: 200px;
	max-width: 300px;
	padding: 10px;
	margin: 20px auto 0;
	background: rgb(80,80,80);
}
	#teamBook img {
		width: 100%;
		height: auto;
	}
	#teamBook h2 {
		font-size: 2rem;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 5%;
		padding-right: 5%;
		margin-left: 5%;
		border-bottom: 1px;
		border-color: #eee;
		border-style: solid;
	}
	#teamBook h3,
	#teamBook p {
		width: 90%;
		margin: 5px auto 10px;
	}
	#teamBook h3 {
		font-size: 1.1rem;
		padding-left: 10%;
	}

/*
				===== WORK TEMPLATE =====
*/
/*					--- Gallery ---
*/

#workMain h1 {
	font-size: 2rem;
	padding: 6px 0;
	margin-left: 5%;
}
#work-mgx {
	padding-bottom: 39px;
	box-sizing: border-box;
	min-height: 640px;
}
.thumb {
	position: relative;
	overflow: hidden;
}
	.thumb img {
		width: 100%;
		display: block;
	}
	.thumb figcaption {
		position: absolute;
		display: block;
		width: 100%;
		padding: 10px 0;
		bottom: 0px;
		text-align: center;
		color: #fff;
		font-size: 0.9rem;
		letter-spacing: 1px;
		line-height: 1.1rem;
		background-color: rgba(0,0,0,0.65);
		border-width: 1px 0px 1px 0px;
		border-style: solid;
		border-color: rgba(255,255,255,0.5);
	}
		.thumb figcaption a {
			text-decoration: none;
			color: #fff;
			font-size: 1.1rem;
		}

/*
				___ CONTACT TEMPLATE ___
*/
#contactMain {
	width: 90%;
	margin: 51px auto 45px;
}
#contactMain h1 {
	font-size: 2rem;
	padding: 6px 0;
	margin-left: 5%;
}
/*					--- Address ---
*/
#contactLocation {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 15px;
	background-color: rgba(0,0,0,0.3);
}
	#address {
		width: 100%;
	}
		#address h2 {
			font-size: 1.5rem;
			padding: 5px 0;
			margin: 4px 0;
			margin-left: 5%;
		}
	#contactMap {
		margin: 15px 0;
	}
		#gMap {
			/* safe guard width for mobile devices*/
			width: 90%;
			height: 250px;
			margin: 10px auto;
			background-color: rgb(255,255,255);
		}
/*				--- Query Form ---
*/
#senderInfo,
#query {
	padding: 15px;
	background-color: rgba(0,0,0,0.3);
}
	#contactForm button{
		display: block;
		margin: 10px auto;
	}
	#contactForm input,
	#contactForm textarea,
	#contactForm select{
		display: block;
		width: 95%;
		margin-left: auto;
	}
	#contactForm textarea{
		min-height: 80px;
	}
	#contactForm .help-block{
		position: relative;
		left: 5%;
		color: #d7d7d7;
	}
	#contactForm .form.control{
		font-size: 1.2rem;
	}
	form label{
		display: block;
		padding-bottom: 8px;
		font-size: 1.2rem;
	}
	input::placeholder{
		font-style: italic;
	}


/*			
				___ TABLETS / DESKTOP RULES ___		768 <
*/
@media screen and (min-width: 768px){
/*
				___ INDEX ___
*/
/*					--- Navigation ---
*/
	.navbar-header {
		margin-left: 10%;
	}
	#navMenu ul {
		width: 20%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-right: 10%;
	}
		#navMenu li {
			padding-top: 0px;
			padding-bottom: 0px;
		}
