<nav class="submenu">
	<ul class="nav">
		<li class="nav-item" id="linkUs"><a href="#aboutUs"><span class="hidden-xs">About</span>Us</a></li>
		<li class="nav-item" id="linkVision"><a href="#aboutVision"><span class="hidden-xs">Our</span>Vision</a></li>
		<li class="nav-item" id="linkWork"><a href="#aboutWork"><span class="hidden-xs">Our</span>Work</a></li>
		<li class="nav-item" id="linkTeam"><a href="#aboutTeam"><span class="hidden-xs">Our</span>Team</a></li>
	</ul>
</nav>

<main id="aboutMain">
	<section id="aboutUs" class="anchor">
		<header>
			<h1>About Us</h1>
			<p>From there to here.</p>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at posuere arcu. Aliquam dolor velit, semper sit amet malesuada eu, lacinia ut lacus. Fusce a est mi. Proin viverra, metus ut laoreet lacinia, mi nisi.</p>
	</section>

	<section id="aboutVision" class="anchor">
		<header>
			<h1>Our Vision</h1>
			<p>From here to there</p>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at posuere arcu. Aliquam dolor velit, semper sit amet malesuada eu, lacinia ut lacus. Fusce a est mi. Proin viverra, metus ut laoreet lacinia, mi nisi.</p>
	</section>

	<section id="aboutWork" class="anchor">
		<header>
			<h1>Our Work</h1>
			<p>We are proud of the range of service we now provide</p>
		</header>
		<p><strong>Nunc varius</strong> condimentum libero, in mollis arcu lobortis sed. Mauris rhoncus molestie hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer imperdiet.</p>
		<p><strong>Nunc varius</strong> condimentum libero, in mollis arcu lobortis sed. Mauris rhoncus molestie hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus metus. Integer imperdiet.</p>
	</section>

	<section id="aboutTeam" class="anchor">
		<header>
			<h1>Our Core Team</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at posuere arcu. Aliquam dolor velit, semper sit amet malesuada eu, lacinia ut lacus. Fusce a est mi. Proin viverra, metus ut laoreet lacinia, mi nisi.</p>
		</header>
		<ul id="teamBook">
			<li data-ng-repeat="member in members">
				<h2>{{member.name}}</h2>
				<h3>{{member.title}}</h3>
				<img data-ng-src="/assets/team/{{member.name}}.jpg" width="250" height="250" alt="{{member.name}} profile picture missing" src="/">
				<p>{{member.description}}</p>
			</li>
		</ul>
	</section>
</main>
