<main id="workMain">

		<!-- 3d gallery -->
	<article id="work-3d" class="anchor">
		<header>
			<h1>3D Work</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</header>
		<section class="gallery">
			<figure class="thumb" ng-repeat="g in gallery3d">
				<img ng-src="../assets/gallery/{{g.file}}_tbn.jpg" alt="{{g.name}}" src="/">
				<figcaption>
					<a href="#">{{g.name}}</a>
					<br>
					<span>{{g.description}}</span>
				</figcaption>
			</figure>
		</section>
	</article>

		<!-- post-production gallery -->
	<article id="work-post" class="anchor">
		<header>
			<h1>Post Production</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</header>
		<section class="gallery">
			<figure class="thumb" ng-repeat="g in gallerypost">
				<img ng-src="../assets/gallery/{{g.file}}_tbn.jpg" alt="{{g.name}}" src="/">
				<figcaption>
					<a href="#">{{g.name}}</a>
					<br>
					<span>{{g.description}}</span>
				</figcaption>
			</figure>
		</section>
	</article>

		<!-- motion graphics gallery -->
	<article id="work-mgx" class="anchor">
		<header>
			<h1>Motion graphics</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</header>
		<section class="gallery">
			<figure class="thumb" ng-repeat="g in gallerymgx">
				<img ng-src="../assets/gallery/{{g.file}}_tbn.jpg" alt="{{g.name}}" src="/">
				<figcaption>
					<a href="#">{{g.name}}</a>
					<br>
					<span>{{g.description}}</span>
				</figcaption>
			</figure>
		</section>
	</article>

</main>

<footer class="copyright">
	<p>These website's copyrights are supposed to be respected by people</p>
</footer>

<!-- modal viewer -->
<div id="viewer" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">&times;</button>
			<img id="heroPic" class="modal-body" src="{{imgSrc}}" alt="Hero image">
		</div>
	</div>
</div>

<script type="text/javascript" src="../js/galleryViewer.js"></script>
