<nav id="galleryFilter" class="btn-group submenu">
	<ul class="nav">
		<li id="showAll" class="nav-item" data-ng-click="showAll()"><span class="hidden-xs">Show </span>All</li>
		<li id="show3d" class="nav-item" data-ng-click="show3d()"><span class="hidden-xs">Show </span>3D</li>
		<li id="showTvc" class="nav-item" data-ng-click="showTvc()"><span class="hidden-xs">Show </span>TV Commercials</li>
		<li id="showMgx" class="nav-item" data-ng-click="showMgx()"><span class="hidden-xs">Show </span>Motion Graphics</li>
	</ul>
</nav>

<main id="workMain">

	<section id="gallery" class="anchor">
		<div class="gallery">
			<thumb data-ng-repeat="t in galleryActive"></thumb>
		</div>
	</section>

</main>

<footer class="copyright">
	<p>All the content of this is copytighted, no prior diffusion, reproduction without prior written consent</p>
</footer>

<!-- modal viewer -->
<div id="viewer" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">&times;</button>
			<img id="heroPic" class="modal-body" data-ng-src="../assets/gallery/{{hero.file}}.jpg" alt="Hero image" src="/">
		</div>
	</div>
</div>

<!-- <script type="text/javascript" src="../js/galleryViewer.js"></script> -->
